@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Importação da fonte do GoogleFonts*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body{
    font-family: "Poppins", sans-serif, Arial, Helvetica; /*fonte temporária*/
    font-weight: 400; /*tamanho de fonte temporária*/
    font-style: normal; /*estilo da fonte temporária*/
    color:#444444;/*cor da fonte temporária*/
    line-height: 1.6;/*espaçamento entre as linhas*/
}

header {
    width: 100vw; /*largura que o header vai ocupar na página*/
    min-height: 60px; /*minimo de altura que o header terá*/
    display: flex; /*deixa os itens do container flexiveis*/
    align-items: center;
    justify-content: space-between; /*divide os espaços igualmente entre os itens deixando, inclusive, um espaço no inicio e no final*/ 
    background-color: rgb(212, 208, 208); /*cor temporária, apenas para melhor visualização*/
    padding: 1rem;  
    }
header img{
    width: auto;
    max-height: 60px;
    border-radius: 10px;    
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
 
header nav a{
    text-decoration: none;/*retira o sublinhado*/
    color: #444444;
    margin: 0 10px; /*espaço entre cada item*/
}

header nav a:hover{
    color: rgb(9, 9, 168); /* cor temporária ao passar o mouse*/
    text-decoration: underline 2px; /*soblinhado ao passar o mouse*/
}
   

.pesquisa-input {
    border-radius: 10px; /*borda levemente arredondada*/
}

.pesquisa-btn {    
    border: none; /*tira a borda padão*/
    border-radius: 50px; /*arredonda a borda do icone*/
} 

.tema-btn {
    border: none;
    border-radius: 50px; /*Meu desejo era tirar a borda por completa, mas não consegui, então coloquei também circular*/
}


/* main {  

    background-color:  #c5c3c3; /*cor de fundo apenas para visualização
}*/


footer {
    background-color: #3a3a3a; /*cor de fundo apenas para visualização*/
    color: #c5c3c3; /*cor de fonte apenas para visualização*/
}

.pagina-container{
    display: flex;
}

.pagina-container nav{
    width: 400px;
    background-color: #e9e9e9;
    padding: 2rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.pagina-container nav ul{
    list-style: none;
}

.pagina-container main{
    padding: 4rem;
}
