@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Importação da fonte do GoogleFonts*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body{
    font-family: "Poppins", sans-serif, Arial, Helvetica; /*fonte temporária*/
    font-weight: 400; /*tamanho de fonte temporária*/
    font-style: normal; /*estilo da fonte temporária*/
    color:#444444;/*cor da fonte temporária*/
    line-height: 1.6;/*espaçamento entre as linhas*/
}